@font-face{
	font-family: 'Home Education DEMO';
	src: url('fonts/Home-Education.otf');
}

@font-face{
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeue-Regular.ttf');
}

.label {
    -fx-font-family: 'Home Education DEMO';
    -fx-font-size: 39;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button {
    -fx-font-family: 'Home Education DEMO';
    -fx-font-size: 30;
    -fx-text-fill: black;
    //-fx-background-color: black;
    -fx-background-color: linear-gradient(to top right, #E17A7F, #EBA6A9, #FFC6AC);
}