@font-face{
	font-family: 'Home Education DEMO';
	src: url('fonts/Home-Education.otf');
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeue-Regular.ttf');
}

#pane{
	-fx-background-color: #FEFAEE; 
}

#title{
    -fx-font-family: 'Bebas Neue';
    -fx-font-size: 65;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#btnFinish{
    -fx-font-family: 'Home Education DEMO';
    -fx-font-size: 15;
    -fx-text-fill: black;
    //-fx-background-color: black;
    -fx-background-color: linear-gradient(to top right, #E17A7F, #EBA6A9, #FFC6AC);
}

.label {
    -fx-font-family: 'Home Education DEMO';
    -fx-font-size: 25;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button {
    -fx-font-family: 'Bebas Neue';
    -fx-font-size: 20;
    -fx-text-fill: black;
    //-fx-background-color: black;
    -fx-background-color: linear-gradient(to top right, #E17A7F, #EBA6A9, #FFC6AC);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: linear-gradient(to top right, #7D3CCD, #A97DDE, #C5BBF2);
  -fx-text-fill: white;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: linear-gradient(to top, #9AA9AC, #5B5C71, #595959);
    -fx-text-fill: white;
}

.text-field {
    -fx-background-color: #A52422, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0;
    -fx-font-family: 'Home Education DEMO';
    -fx-font-size: 15;
}
.text-field:focused {
    -fx-background-color: #A52422, -fx-background ;
}

.text-field:focused:hover {
    -fx-background-color:
        #EBA6A9,
        #FFFFFF;
}

.text-field:hover {
    -fx-background-color:
        #6C91C2,
        #FFFFFF;
}