@font-face{
	font-family: 'Home Education DEMO';
	src: url('fonts/Home-Education.otf');
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BebasNeue-Regular.ttf');
}

#pane{
	-fx-background-color: #FEFAEE; 
}

#title{
    -fx-font-family: 'Bebas Neue';
    -fx-font-size: 65;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

#finish{
    -fx-font-family: 'Home Education DEMO';
    -fx-font-size: 15;
    -fx-text-fill: black;
    //-fx-background-color: black;
    -fx-background-color: linear-gradient(to top right, #E17A7F, #EBA6A9, #FFC6AC);
}

.label {
    -fx-font-family: 'Home Education DEMO';
    -fx-font-size: 25;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button {
    -fx-font-family: 'Bebas Neue';
    -fx-font-size: 20;
    -fx-text-fill: black;
    //-fx-background-color: black;
    -fx-background-color: linear-gradient(to top right, #E17A7F, #EBA6A9, #FFC6AC);
}